---
import Card from "./Card.astro";
import CardContent from "./CardContent.astro";
import Icon from "../icon/Icon.astro";
import Link from "../link/Link.astro";

interface Props {
  title: string;
  description: string;
  icon: string;
  ctaLabel: string;
  ctaHref: string;
}

const { title, description, icon, ctaLabel, ctaHref } = Astro.props;
---

<Card as="article">
  <CardContent class="service-card__inner">
    <div class="service-card__icon-wrap" aria-hidden="true">
      <Icon name={icon} class="service-card__icon" />
    </div>

    <div class="service-card__body">
      <h3 class="service-card__title">{title}</h3>
      <p class="service-card__description">{description}</p>
      <Link href={ctaHref} variant="unstyled" class="service-card__cta">
        {ctaLabel}
      </Link>
    </div>
  </CardContent>
</Card>
